/* lexend-regular - latin */
@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lexend/lexend-v17-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/lexend/lexend-v17-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/lexend/lexend-v17-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/lexend/lexend-v17-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/lexend/lexend-v17-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/lexend/lexend-v17-latin-regular.svg#Lexend') format('svg');
  /* Legacy iOS */
}

/* lexend-500 - latin */
@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/lexend/lexend-v17-latin-500.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/lexend/lexend-v17-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/lexend/lexend-v17-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/lexend/lexend-v17-latin-500.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/lexend/lexend-v17-latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/lexend/lexend-v17-latin-500.svg#Lexend') format('svg');
  /* Legacy iOS */
}

/* lexend-700 - latin */
@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lexend/lexend-v17-latin-700.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/lexend/lexend-v17-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/lexend/lexend-v17-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/lexend/lexend-v17-latin-700.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/lexend/lexend-v17-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/lexend/lexend-v17-latin-700.svg#Lexend') format('svg');
  /* Legacy iOS */
}

/* lexend-800 - latin */
@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/lexend/lexend-v17-latin-800.eot');
  /* IE9 Compat Modes */
  src: local('') url('../fonts/lexend/lexend-v17-latin-800.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/lexend/lexend-v17-latin-800.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/lexend/lexend-v17-latin-800.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/lexend/lexend-v17-latin-800.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/lexend/lexend-v17-latin-800.svg#Lexend') format('svg');
  /* Legacy iOS */
}

/* All Round Gothic - Book*/
@font-face {
  font-family: "All Round Gothic W03 Book";
  font-style: normal;
  src: url("../fonts/allroundgothic/4387b781fdcc752283b72bdc76757065.eot");
  /* IE9*/
  src: url("../fonts/allroundgothic/4387b781fdcc752283b72bdc76757065.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../fonts/allroundgothic/4387b781fdcc752283b72bdc76757065.woff2") format("woff2"),
    /* chrome、firefox */
    url("../fonts/allroundgothic/4387b781fdcc752283b72bdc76757065.woff") format("woff"),
    /* chrome、firefox */
    url("../fonts/allroundgothic/4387b781fdcc752283b72bdc76757065.ttf") format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../fonts/allroundgothic/4387b781fdcc752283b72bdc76757065.svg#All Round Gothic W03 Book") format("svg");
  /* iOS 4.1- */
}

@mixin regular {
  font-family: "Lexend", sans-serif;
  font-weight: 400;
}

@mixin medium {
  font-family: "Lexend", sans-serif;
  font-weight: 500;
}

@mixin bold {
  font-family: "Lexend", sans-serif;
  font-weight: 700;
}

@mixin extrabold {
  font-family: "Lexend", sans-serif;
  font-weight: 800;
}

@mixin book {
  font-family: "All Round Gothic W03 Book", sans-serif;
}