* {
    box-sizing: border-box;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    overflow: hidden;
}

// .container_lg {
    
// }

// .cont_md {
//     max-width: 1739px;
// }